/MakanMakerLibrary/nbproject/private/
/nbproject/private/
/MakanMaker-war/nbproject/private/
/MakanMaker-ejb/nbproject/private/
/MakanMakerLibrary/build/
/MakanMaker-ejb/build/
/MakanMakerLibrary/dist/
/MakanMaker-ejb/dist/
/MakanMaker-war/build/
/build/
/MakanMaker-war/dist/